@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(0.5, 0, 0.5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1);
  }
}
